body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto;
}

h1 {
  font-family: Shrikhand;
}

h2 {
  font-family: Shrikhand;
}

h3 {
  font-family: Shrikhand;
}

/******Header******/
.top {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.logo {
  padding: 0px 124px;
  height: 36px;
}

/******Main******/
.location {
  display: flex;
  justify-content: center;
  background-color: var(--Grey-2, #EAEAEA);
  font-weight: bold;
}

.fa-location-dot {
  padding: 17px 15px 0px 0px;
}

.center {
  background-color: var(--Background, #F6F6F6);
  text-align: center;
  padding: 15px 0px 70px 0px;
}
.center p {
  margin-bottom: 50px;
}
.center__txt {
  width: 275px;
  margin-left: auto;
  margin-right: auto;
}

.bouton {
  color: white;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  padding: 13px 18px;
  font-weight: bold;
}

/******Fonctionnement******/
.fonctionnement {
  padding: 35px 15px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.button__base {
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 0px 30px;
}
.button__base i {
  color: grey;
  margin-left: 61px;
}
.button__base i:hover {
  color: #9356DC;
}
.button__base p {
  margin: 2px 0px 0px 7px;
  color: white;
  font-weight: bold;
}
.button__base--content {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  padding: 15px 80px;
}
.button__base--numbers {
  background-color: #9356DC;
  border-radius: 100%;
  padding: 4px;
  height: 25px;
  width: 25px;
  margin: -45px;
}

/******Restaurants******/
.restaurants {
  background: var(--Background, #F6F6F6);
  padding: 35px 25px;
}

.restaurants-str {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  gap: 20px;
}
.restaurants-str img {
  width: 400px;
  height: 200px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.card__img {
  background-image: url(../Assets/Images+et+textes+Ohmyfood/Images_et_textes_Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  width: 400px;
  height: 200px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}
.card__img p {
  background-color: #99E2D0;
  color: green;
  display: flex;
  justify-content: center;
  margin: 15px 10px 0px 310px;
  padding: 3px 0px 3px 0px;
  font-weight: 900;
}
.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}
.card__content h2 {
  margin: 10px 0px 0px 0px;
}
.card__content p {
  margin: 0px 0px 10px 0px;
}
.card__favorite {
  font-size: xx-large;
}

/******Footer******/
footer {
  background: var(--Grey, #353535);
  color: white;
  padding: 0px 230px 10px 50px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer ul {
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer li {
  list-style-type: none;
}

/*# sourceMappingURL=Style.css.map */
