body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto;
}

/******Loader******/
.loader {
  z-index: 100;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: hsla(0, 0%, 100%, 0.9);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  animation: load 3200ms forwards;
}
.loader--1 {
  animation-delay: 1066.6666666667ms;
}
.loader--2 {
  animation-delay: 2133.3333333333ms;
}
.loader--3 {
  animation-delay: 3200ms;
}
.loader i {
  position: absolute;
}
.loader__icon--1 {
  opacity: 0;
  color: #9356DC;
  animation: icons;
  animation-duration: 500ms;
}
.loader__icon--2 {
  opacity: 0;
  color: #FF79DA;
  animation: icons;
  animation-delay: 1000ms;
  animation-duration: 500ms;
}
.loader__icon--3 {
  opacity: 0;
  color: #99E2D0;
  animation: icons;
  animation-delay: 2000ms;
  animation-duration: 500ms;
}

@keyframes load {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    z-index: -1;
  }
}
@keyframes icons {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/******Header******/
.top {
  padding: 10px 0px;
}

.logo {
  height: 36px;
}

/******Main******/
main {
  width: 100%;
}

.location {
  display: flex;
  justify-content: center;
  background-color: var(--Grey-2, #EAEAEA);
  font-weight: bold;
}
.location p {
  font-weight: 500;
}

.fa-location-dot {
  padding: 17px 15px 0px 0px;
}

.center {
  background-color: var(--Background, #F6F6F6);
  text-align: center;
  padding: 15px 0px 70px 0px;
}
.center p {
  margin-bottom: 50px;
  font-weight: 200;
}
.center__txt {
  width: 275px;
  margin-left: auto;
  margin-right: auto;
}

.bouton {
  color: white;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  padding: 13px 18px;
  font-weight: bold;
  opacity: 1;
  transition: all 200ms;
}
.bouton:hover {
  opacity: 0.9;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.65);
  transition: all 200ms;
}

/******Fonctionnement******/
.fonctionnement {
  padding: 35px 15px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.button__base {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 3%;
  transition: box-shadow 200ms;
  width: 80%;
}
.button__base i {
  color: grey;
  transition: 200ms;
  margin-left: 10%;
}
.button__base p {
  margin: 2px 0px 0px 7px;
  color: white;
  font-weight: bold;
}
.button__base:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.5);
  transition: 200ms;
}
.button__base:hover i {
  color: #9356DC;
  transition: 200ms;
}
.button__base--content {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  margin-right: 10%;
}
.button__base--numbers {
  background-color: #9356DC;
  border-radius: 100%;
  padding: 4px;
  height: 25px;
  width: 25px;
  margin: -35px;
}

/******Restaurants******/
.restaurants {
  background: var(--Background, #F6F6F6);
  padding: 35px 25px;
}

.restaurants-str {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 100%;
}
.card a {
  text-decoration: none;
  color: black;
}
.card__img {
  height: 200px;
  border-radius: 15px 15px 0px 0px;
  background-size: cover;
  background-position-y: bottom;
}
.card__img p {
  background-color: #99E2D0;
  color: green;
  display: flex;
  justify-content: center;
  font-weight: 900;
  width: 30%;
  margin-left: auto;
  margin-right: 10px;
}
.card__img--1 {
  background-image: url(../Assets/Images+et+textes+Ohmyfood/Images_et_textes_Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.card__img--2 {
  background-image: url(../Assets/Images+et+textes+Ohmyfood/Images_et_textes_Ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-position-y: 60%;
}
.card__img--3 {
  background-image: url(../Assets/Images+et+textes+Ohmyfood/Images_et_textes_Ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.card__img--4 {
  background-image: url(../Assets/Images+et+textes+Ohmyfood/Images_et_textes_Ohmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}
.card__content h2 {
  margin: 10px 0px 0px 0px;
}
.card__content p {
  margin: 0px 0px 10px 0px;
  font-weight: 200;
}
.card__favorite {
  font-size: xx-large;
  border: 0px;
  background: none;
}
.card__favorite i {
  position: absolute;
  margin-left: -30px;
  margin-top: -15px;
}
.card .fa-solid {
  color: transparent;
  background: linear-gradient(180deg, rgb(147, 86, 220) 40%, rgb(255, 121, 218) 100%);
  -webkit-background-clip: text;
  transition: 500ms;
  opacity: 0;
}
.card .fa-solid:hover {
  opacity: 1;
  transition: 500ms;
}

/******Footer******/
footer {
  background: var(--Grey, #353535);
  color: white;
  width: 100%;
}
footer h3 {
  padding-left: 40px;
  font-family: Shrikhand;
}
footer a {
  text-decoration: none;
  color: white;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer li {
  list-style-type: none;
}

/******Media queries******/
@media (min-width: 1025px) {
  main {
    width: 100%;
  }
  .logo {
    padding: 0px 732px;
  }
  .center__txt {
    width: auto;
  }
  .fonctionnement h1 {
    margin-left: 140px;
  }
  .restaurants h1 {
    margin-left: 140px;
  }
  .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    justify-content: center;
  }
  .button__base {
    padding: 1%;
    width: 23%;
  }
  .button__base i {
    margin-left: 10%;
  }
  .restaurants-str {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .restaurants-str .card {
    width: 35%;
    height: 280px;
    margin-bottom: 30px;
  }
  .restaurants-str .card__img {
    width: 100%;
    background-size: cover;
  }
  .restaurants-str .card__img--1 {
    background-position-y: -110px;
  }
  .restaurants-str .card__img--2 {
    background-position-y: -290px;
  }
  .restaurants-str .card__img--3 {
    background-position-y: -150px;
  }
  .restaurants-str .card__img--4 {
    background-position-y: -140px;
  }
  footer {
    width: 100%;
    padding: 30px 0px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    gap: 150px;
  }
  footer h3 {
    margin-right: 150px;
  }
  .footer-content {
    flex-direction: row;
    gap: 10px;
  }
  .no-icon {
    margin-left: 30px;
  }
}

/*# sourceMappingURL=Style.css.map */
