$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$title-police: Shrikhand;
$text-police: Roboto;

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $text-police;
}

h1 {
    font-family: $title-police;
}

h2 {
    font-family: $text-police;
}

h3 {
    font-family: $title-police;
}

/******Header******/
.top {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    padding: 10px 20px;

    a {
        color: black;
        font-size: 25px;
    }

}

.logo {
    padding: 0px 92px;
    height: 36px;
}

/******Main******/
.center {
    padding: 152px 228px;
    background-image: url(../Assets/Images+et+textes+Ohmyfood/Images_et_textes_Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size: cover;
}

/******Menus******/

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px 25px 0px 0px;
    background: #F6F6F6;
    margin-top: -45px;
    padding-bottom: 50px;

    &__str {
        display: flex;
        flex-direction: column;
    }

    &__favorite {
        font-size: xx-large;
        border: 0px;
        background: none;

        & i {
            position: absolute;
            margin-left: -30px;
            margin-top: -15px;
        }
    }

    &__title {
        display: flex;
        gap: 70px;
    }

    h1 {
        font-size: xx-large;
    }

    h2 {
        font-size: 1.2em;
        margin-left: 20px;

        .underline {
            text-decoration: underline solid $tertiary-color 3px;
            text-underline-offset: 15px;
        }
    }



    .fa-solid {
        color: transparent;
        background: linear-gradient(180deg, rgba(147, 86, 220, 1) 40%, rgba(255, 121, 218, 1) 100%);
        -webkit-background-clip: text;
        opacity: 0;
        transition: 500ms;

        &:hover {
            opacity: 1;
            transition: 500ms;

        }

    }


    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__str {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 25px;
            margin: 12px 10px;
            padding: 0px 20px;
            background: white;
            text-decoration: none;
            color: black;
            box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);
            transition: box-shadow 200ms;

            &:hover {
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3);
            }
        }

        &__plate {
            margin: 0px 20px 0px 0px;

            p {
                margin: -15px 0px 15px 0px;
                font-size: large;
            }
        }

        &__price {
            font-family: $title-police;
        }
    }

    .bouton {
        color: white;
        background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
        border-radius: 25px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        text-decoration: none;
        padding: 16px 50px;
        font-size: large;
        font-weight: bold;
        margin-top: 35px;
        transition: all 200ms;

        &:hover {
            opacity: 0.9;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.65);
        }
    }

}


/******Footer******/
footer {
    background: var(--Grey, #353535);
    color: white;
    padding: 0px 230px 10px 50px;

    a {
        text-decoration: none;
        color: white;
    }

    ul {
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    li {
        list-style-type: none;
    }

}